<footer class="text-muted">
    <div class="container">
        <% let year = (new Date()).getFullYear() %>
        <p class="float-right">
            &copy;<%= year %> Tan Yi Ming
        </p>
    </div>
</footer>