<!DOCTYPE html>
<html>
  <%- include('../partials/head'); %>

  <body>
    <%- include('../partials/header'); %>
    <div class="app-main">
      <section class="jumbotron big-container">
        <div class="container">
          <div class="profile-bio">
            <div class="profile-bio-left mb-3">
              <img
                class="profile-photo"
                alt="Profile Photo"
                src="/images/profile.png"
              />
            </div>
            <div class="profile-bio-right">
              <h1>Tan, Yi Ming</h1>
              <p class="lead dark-themed-text">Student | Software Engineer</p>
              <p class="lead dark-themed-text">
                Munster Technological University, Cork Ireland
              </p>
              <p>
                <a class="btn my-2 my-sm-0 mr-3 social-btn" href="/downloadCV"
                  >Download Resume <i class="far fa-file"></i
                ></a>
                <a
                  class="btn my-2 my-sm-0 social-btn"
                  href="mailto:ymtan.2062@gmail.com"
                  >Reach Out <i class="far fa-envelope"></i
                ></a>
              </p>
              <p>
                <a
                  target="_blank"
                  class="btn my-2 my-sm-0 mr-3 social-btn btn-round"
                  href="https://www.linkedin.com/in/tanyiming/"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
                <a
                  target="_blank"
                  class="btn my-2 my-sm-0 social-btn btn-round"
                  href="https://github.com/notyiming"
                  ><i class="fab fa-github-alt"></i
                ></a>
              </p>
            </div>
          </div>
        </div>
        <div class="container">
          <hr />
          <h2>Experience</h2>
          <div class="row">
            <div class="col-xl-7">
              <a
                class="company-uni-link"
                target="_blank"
                href="https://www.qualcomm.com/"
                >Qualcomm</a
              >
              <h5 class="mb-3">Software Engineer Intern</h5>
              <p class="lead dark-themed-text">
                • Helped the team rebuild the CLI of the application using Argparse. Built and enhanced more than 10
                APIs for the application that are highly requested by the clients. Developed a script to categorize all
                100+ APIs in the help section of the CLI.<br />
                • Optimized and improved the speed of one of the most frequently used APIs by 13,800% by
                reimplementing it with SQLAlchemy.<br />
                • Defined and wrote detailed and robust Unit Tests by analyzing functional requirements. Always made
                sure test coverage is at least 90% on average.<br />
                • Set up Sphinx documentation for the project. Proposed reStructuredText as the standard format for all
                docstrings in the codebase. Now, the team is following the best practices of code documentation.<br />
                • Took part in all phases of Agile development as well as requirements elicitation meetings. Product was
                delivered to the customers in an incremental and timely manner.
              </p>
            </div>
            <div class="col-xl-5 text-right">
              <i class="duration-date">January 2022 - September 2022</i>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-xl-7">
              <a
                class="company-uni-link"
                target="_blank"
                href="https://www.qualcomm.com/"
                >Qualcomm</a
              >
              <h5 class="mb-3">Software Engineer Intern</h5>
              <p class="lead dark-themed-text">
                • Proposed a new streamlined software release process and workflow on GitHub for software engineers in
                the global infrastructure team. This is now adopted by 90% of all the engineering teams.<br />
                • Developed and tested a Python automation tool for a team of more than 60 software engineers to
                facilitate their software app release processes.
              </p>
            </div>
            <div class="col-xl-5 text-right">
              <i class="duration-date">July 2021 - September 2021</i>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-xl-7">
              <a
                class="company-uni-link"
                target="_blank"
                href="//www.neptrix.com"
                >Neptrix IT Solutions</a
              >
              <h5 class="mb-3">Software Engineer Intern</h5>
              <p class="lead dark-themed-text">
                • Redesigned and rebuilt the User Interface of the of infohub 4.0 framework.<br />
                • Led the front-end design and implementation of the landing page, dashboard page, statistical charts,
                announcement board and a shortcuts tab which all have been highly requested by 60% of our clients.<br />
                • Took part in on-site monthly requirements elicitation meetings.
              </p>
            </div>
            <div class="col-xl-5 text-right">
              <i class="duration-date">June 2020 - August 2020</i>
            </div>
          </div>
          <hr />
          <h2>Education</h2>
          <div class="row">
            <div class="col-xl-7">
              <a class="company-uni-link" target="_blank" href="//www.mtu.ie"
                >Munster Technological University</a
              >
              <h5 class="mb-3">BSc (Honours) Software Development</h5>
              <p class="lead dark-themed-text">
                Cumulative Average: 91%<br />
                Core Modules: OOP, Web Development, Database Design, Data
                Structures and Algorithms, Discrete Maths<br />
                Ranked 3rd overall in Valentine's Day Hackathon 2020.<br />
                Ranked 2nd overall in the Lee Field's Medal Maths Competition
                2019.
              </p>
            </div>
            <div class="col-xl-5 text-right">
              <i class="duration-date">September 2019 - May 2023</i>
            </div>
          </div>
        </div>
      </section>
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>
