<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>

    <body>
        <%- include('../partials/header'); %>
            <div class="app-main">
                <section class="jumbotron big-container">
                    <div class="container">
                        <h1 class="mb-3">Projects</h1>
                        <table class="table table-dark table-striped table-bordered table-hover">
                            <thead>
                                <tr class="table-head-record">
                                    <th>Project Name</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Covid-Tracker</td>
                                    <td>Track the current impact of the coronavirus pandemic and its spread throughout
                                        the world. Data from Worldmeters, updated every 10 minutes</td>
                                    <td>
                                        <a target="_blank" class="view-proj-link"
                                            href="https://ming-covid-tracker.herokuapp.com/">View Site</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tweets-Sentiment-Analyzer</td>
                                    <td>An online tool where you can analyze the sentiment of a Twitter account's posts
                                    </td>
                                    <td>
                                        <a target="_blank" class="view-proj-link"
                                            href="https://sentiment-analyzer-tweet.herokuapp.com/">View Site</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Who-Chat</td>
                                    <td>A platform where a group of anonymous people can leave message on</td>
                                    <td>
                                        <a target="_blank" class="view-proj-link"
                                            href="https://who-chat.herokuapp.com/">View Site</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Maze-Puzzles</td>
                                    <td>A self generating maze puzzle game, using Kruskal's Algorithm</td>
                                    <td><a target="_blank" class="view-proj-link"
                                            href="https://github.com/notyiming/Maze-Puzzles">View Code</a><br>
                                        <a target="_blank" class="view-proj-link"
                                            href="https://notyiming.github.io/Maze-Puzzles/">View Site</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pokemon-Battle</td>
                                    <td>A rock-paper-scissors-like pokemon game</td>
                                    <td><a target="_blank" class="view-proj-link"
                                            href="https://github.com/notyiming/Pokemon-Battle">View Code</a><br>
                                        <a target="_blank" class="view-proj-link"
                                            href="https://notyiming.github.io/Pokemon-Battle/">View Site</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ISBN-Converter</td>
                                    <td>This C++ program converts ISBN-10 serial number to ISBN-13 serial number
                                        (Malaysia ISBN Classification)</td>
                                    <td><a target="_blank" class="view-proj-link"
                                            href="https://github.com/notyiming/ISBN-Converter">View Code</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </section>

            </div>
            <%- include('../partials/footer'); %>
    </body>

</html>